@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 200vh;
    background: #fff;
}

section {
    position: absolute;
    width: 100%;
    height: 100vh;
    background: url(1.jpg);
    background-size: cover;
}

section .skewed {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    transform: skewY(-10deg);
    transform-origin: top left;
}