@import url('https://fonts.googleapis.com/css2?family=BenchNine&family=Poppins:wght@300;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "sans-serif";
    box-sizing: border-box;
}

body {
    display: flex;
	justify-content: center;
	align-items: center;
    position: relative;
	min-height: 100vh;
    background: #0c2461;
}

.container {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn {
    position: relative;
    width: 155px;
    height: 50px;
    margin: 20px;
}

.btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.051);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-top: 1px solid rgba(200, 52, 52, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 10;
    color: white;
    border-radius: 30px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all 0.5s;
    overflow: hidden;
    backdrop-filter: blur(15px);
}

.btn:hover a {
    letter-spacing: 3px;
}

.btn a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.149), transparent);
    transform: skewX(45deg);
    transition: all 0.5s;
    transition-delay: all 0.5s ;
}

a:hover:before {
    transform: skewX(45deg) translateX(200%);
    transition-delay: 0s;
}

.btn:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #ff0461;
    bottom: -5px;
    width: 30px;
    height: 10px;border-radius: 10px;
    transition: all 0.5s;
    transition-delay: 0;
}

.btn:hover:before {
    bottom: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: all 0.5s;
}

.btn::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #ff0461;
    top: -5px;
    width: 30px;
    height: 10px;border-radius: 10px;
    transition: all 0.5s;
    transition-delay: 0;
}

.btn:hover:after {
    top: 0;
    height: 50%;
    width: 80%;
    border-radius: 30px;
    transition-delay: all 0.5s;
}

.btn:nth-child(1):before, .btn:nth-child(1):after {
    background: #ff0461;
    box-shadow: 0 0 5px #ff0461, 0 0 15px #ff0461, 0 0 30px #ff0461, 0 0 60px #ff0461;

}