@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #09161d;
}

.card {
    position: relative;
    width: 320px;
    height: 420px;
    background: #122936;
    border-radius: 20px;
    overflow: hidden;
    overflow: hidden;
}

.card:before {
    content: '';
    position: absolute;
    top: -50%;
    width: 100%;
    height: 100%;
    background: #219bf3;
    transform: skewY(-15deg);
    transition: all 0.5s;
}

.card:hover:before {
    top: -70%;
    transform: skewY(30deg);
}

.imgBx {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    z-index: 1;
}

img {
    max-width: 100%;
    transition: 0.5s;
}

.card:hover img {
    max-width: 50%;
}

.contentBx {
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

h3 {
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.price {
    font-size: 24px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.buy {
    position: relative;
    padding: 10px 30px;
    margin-top: 15px;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    background: #219bf3;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.5s;
    opacity: 0;
    top: 200px;
}

.card:hover .buy {
    opacity: 1;
    top: 0;
}

.buy:hover {
    color: #219bf3;
    background-color: white;
}