* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 200vh;
}

section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    pointer-events: none;
}

.side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(bg.jpg);
    background-size: cover;
}

.side1 {
    clip-path: polygon(0% 0%, 68% 0%, 33% 15%, 68% 24%, 35% 36%, 68% 44%, 35% 54%, 68% 64%, 36% 74%, 68% 85%, 36% 89%, 69% 100%, 0 100%);
}

.side2 {
    clip-path: polygon(100% 0, 68% 0%, 33% 15%, 68% 24%, 35% 36%, 68% 44%, 35% 54%, 68% 64%, 36% 74%, 68% 85%, 36% 89%, 69% 100%, 100% 100%);
}

.content {
    background: #000;
    color: #fff;
    padding: 100px;
    padding-top: 150vh;
}

.content h2 {
    position: relative;
    font-size: 4em;
}

.content p {
    position: relative;
    font-size: 1.2em;
}