
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.scene {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(#a6d8ff,#fff,#fff);
}

.sun {
    position: absolute;
    top: 100px;
    left: 55%;
    width: 100px;
    height: 100px;
    background: #ffffff;
    border-radius: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 50px #ffffff;
    cursor: pointer;
    transition: 0.2s;
}

.bg {
    position: absolute;
    width: 100%;
    height: 280px;
    bottom: 0;
    background-image: url('bg.png');
    background-size: 1500px;
    background-repeat: repeat-x;
    animation: animateBg 25s linear infinite;
}

@keyframes animateBg {
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: -1500px;
    }
}

.car1 {
    position: absolute;
    bottom: 20px;
    max-width: 200px;
    z-index: 1;
    left: -200px;
    animation: car1 8s linear infinite;
}

.car2 {
    position: absolute;
    bottom: 50px;
    max-width: 200px;
    right: -200px;
    animation: car2 12s linear infinite;
}

@keyframes car1 {
    0%{
        transform: translateX(0px);
    }
    90%, 100%{
        transform: translateX(calc(100vw + 200px));
    }
}

@keyframes car2 {
    0%{
        transform: translateX(0px) rotateY(180deg);
    }
    90%, 100%{
        transform: translateX(calc(-100vw - 200px)) rotateY(180deg);
    }
}

.scene.nigth {
    background: #222833;
}

.scene.nigth .sun{
    left: 45%;
    box-shadow: 0 0 0 #fff;
}

.scene.nigth .sun:before {
    content: '';
    position: absolute;
    top: -20px;
    left: 20px;
    width: 100%;
    height: 100%;
    background: #222833;
    border-radius: 50%;
}