*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #020e33;
}

.loader {
  position: relative;
  width: 150px;
  height: 150px;
}

.loader span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

span:nth-child(1) {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  z-index: 2;
}

span:nth-child(2) {
  background: #ff3e3e;
  border-radius: 0;
  animation: animate 4s ease-in-out infinite;
}

span:nth-child(3) {
  background: #fff;
  animation: animate 4s ease-in-out infinite;
  animation-delay: -2s;
}

@keyframes animate {
  0%{ transform: translate(-150px, 50px) scale(0.4) rotate(0); z-index: 1;}
  50%{ transform: translate(150px, -50px) scale(0.4) rotate(180deg); z-index: 1;}
  50.0001%{ transform: translate(150px, -50px) scale(0.4) rotate(180deg); z-index: 3;}
  100%{ transform: translate(-150px, 50px) scale(0.4) rotate(360deg); z-index: 3;}
}