* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #00e1ffaa;
}

.container {
  position: relative;
  height: 400px;
  width: 320px;
  border-bottom: 3px solid #fff;
}

.cloud {
  position: relative;
  height: 100px;
  width: 100%;
  top: 50px;
  background-color: white;
  border-radius: 100px;
}

.cloud:before {
  content: '';
  position: absolute;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: white;
  top: -50px;
  left: 40px;
  box-shadow: 90px 0 0 30px white;
}

.rain {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
}

span {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  margin: 0 2px;
  animation: rain 5s linear infinite;
  transform-origin: bottom;
  animation-duration: calc(15s / var(--seconds));
}

@keyframes rain {
  0%{ transform: translateY(0) scale(1);  }
  70%{ transform: translateY(288px) scale(1);  }
  100%{ transform: translateY(288px) scale(0);  }
}