section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #010f1f;
}

.loader {
  position: relative;
  height: 120px;
  width: 120px;
}

span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg * var(--i)));
}

span:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #00c3ff;
  box-shadow: 0 0 10px #00c3ff, 0 0 20px #00c3ff, 0 0 40px #00c3ff, 0 0 60px #00c3ff, 0 0 80px #00c3ff, 0 0 100px #00c3ff;
  animation: animate 2s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
  0%{ transform: scale(1); }
  80%, 100%{ transform: scale(0); }
}