body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	/* background-color: #fffa65; */
}

ul {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	gap: 20px;
}

ul li a {
	display: block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	text-transform: capitalize;
	text-decoration: none;
	position: relative;
	transition: all 0.5s;
	color: #262626;
}

a:hover {
	color: white;
	transition-delay: 0.2s;
}

ul li span {
	position: absolute;
	width: 100%;
	height: 25%;
	background-color: #262626;
	z-index: -1;
	left: 0;
	top: 0;
	transform: scaleX(0);
	transition: all 0.5s;
	transform-origin: top;
}

a:hover span {
	transform: scaleY(1);
}

span:nth-child(2) {
	top: 25%;
	transition-delay: 0.15s;
}

span:nth-child(3) {
	top: 50%;
	transition-delay: 0.3s;

}

span:nth-child(4) {
	top: 75%;
	transition-delay: 0.45s;
}