@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(bg.png);
    background-repeat: repeat;
    background-size: 700px;
}

.content {
    position: relative;
    width: 1000px;
    margin: 100px auto;
    z-index: 1;
    background: #fff;
    padding: 50px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.content p {
    font-size: 1.2em;
    line-height: 1.6em;
}