* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  	font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #833471;
    transition: 0.5s;
}

body:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background-color: #FFC312;
    transition: 0.5s;
    clip-path: circle(250px at center);
}

.container {
    position: relative;
    width: 1100px;
    height: 400px;
}

.card {
    width: 300px;
    height: 400px;
    background-color: #fff;
    position: absolute;
    top: calc(50% -200px);
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%) translateY(calc(50px * var(--i))) rotate(40deg) skew(-20deg, -10deg) scale(0.6);
    box-shadow: 25px 20px 100px rgba(0, 0, 0, 0.2);
    z-index: calc(-1 * var(--i));
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:nth-child(2) {
    opacity: 0.8;
}

.card:nth-child(3) {
    opacity: 0.6;
}

.container:hover .card {
    position: absolute;
    z-index: 1;
    opacity: 1;
    transform: translateX(calc(-50% + calc(350px * var(--i))));
}

.content {
    position: relative;
    padding: 25px;
    color: #333;
    transition: 0.5s;
    opacity: 0;
}

.container:hover .content {
    opacity: 1;
    transition-delay: calc(0.2s * var(--j));
}